div.player-wrapper {
    position: absolute;
    background: #202020;
    width: 100%;
    height: 80px;
    bottom: 0px;
    left: 0px;
    box-shadow: 0 0 15px #000;
    z-index: 15;
    color: #CCCCCC;
}
